In [18]:
pip install pandas

Requirement already satisfied: pandas in c:\program files\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\program files\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: Loading egg at c:\program files\python312\lib\site-packages\vboxapi-1.0-py3.12.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

In [19]:
dados = {
    'Nome': ['Monica', 'Chandler', 'Ross', 'Rachel'],
    'Idade': [26, 28, 25, 17],
    'Estado': ['MG', 'SP', 'RJ', 'PE']
}


df = pd.DataFrame(dados)
# maiores_de_18 = df[df['Idade'] > 18]

df['País'] = ['Brasil', 'Itália', 'Suiça', 'Chile']
df


df

       Nome  Idade Estado    País
0    Monica     26     MG  Brasil
1  Chandler     28     SP  Itália
2      Ross     25     RJ   Suiça
3    Rachel     17     PE   Chile

In [29]:

dados = {
    'Produto': ['Produto A', 'Produto B', 'Produto C', 'Produto D', 'Produto E'],
    'Categoria': ['Eletrônicos', 'Roupas', 'Eletrônicos', 'Alimentos', 'Roupas'],
    'Preço': [150.0, 50.0, 200.0, 30.0, 80.0],
    'Quantidade': [20, 35, 15, 50, 10]
}

df = pd.DataFrame(dados)
df

df['Total de vendas'] = df['Preço'] * df['Quantidade']

   Preço  Quantidade  Total de vendas
0  150.0          20           3000.0
1   50.0          35           1750.0
2  200.0          15           3000.0
3   30.0          50           1500.0
4   80.0          10            800.0

In [36]:

dados = {
    'Numero1': [150, 50, 200, 30, 80],
    'Numero2': [20, 35, 15, 50, 10]
}

df = pd.DataFrame(dados)
df

df['Soma'] = df['Numero1'] + df['Numero2']
df['Multiplicação'] =  df['Numero1'] * df['Numero2']
df['Média'] = df['Soma'] / 2

df

   Numero1  Numero2  Soma  Multiplicação  Média
0      150       20   170           3000   85.0
1       50       35    85           1750   42.5
2      200       15   215           3000  107.5
3       30       50    80           1500   40.0
4       80       10    90            800   45.0