In [2]:
# Operação de soma - Ex.1

soma = lambda x, y: x + y
subtracao = lambda x, y: x - y
divisao = lambda x, y: x / y
multiplicacao = lambda x, y: x * y

print(soma(10, 5))
print(subtracao(10, 5))
print(divisao(10, 5))
print(multiplicacao(10, 5))

15
5
2.0
50

In [3]:
# Eleva ao quadrado - Ex.2

quadrado = lambda z: z ** 2

print(quadrado(2))
print(quadrado(3))
print(quadrado(4))

4
9
16

In [5]:
# Concatenar - Ex.3

concatena = lambda s1, s2: s1 + "-" + s2

print(concatena('Python', 'é legal!'))

Python-é legal!

In [7]:
# Upper e Lower usando lambda - Ex.4

maiusculo = lambda s: s.upper()
minusculo = lambda t: t.lower()

print(maiusculo('Hoje é terça-feira!'))
print(minusculo('AMANHÃ SERÁ QUARTA-FEIRA!'))

HOJE É TERÇA-FEIRA!
amanhã será quarta-feira!

# Condição ternária
Estrutura de condição usando lambda - Ex.5

In [3]:
# Condição ternária
# valor1 if condição else valor2

avaliacao = lambda nota: "Aprovado" if nota > 7 else "Reprovado"
avaliacao(2)

'Reprovado'

In [7]:
# Estrutura de condição usando lambda - Ex.6

# valor1 if condição else valor2

avaliacao = lambda nota: "aprovado" if nota >= 7 else ("regular" if nota >= 5 else "ruim")

print(avaliacao(9))
print(avaliacao(5))
print(avaliacao(1))

aprovado
regular
ruim

In [9]:
# Estrutura de condição usando lambda - Ex.7 - Crie uma estrutura para classificar a idade:

# < 12 - criança2
# < 18 - adolescente
# < 60 - adulto
# > 60 - idoso

# valor1 if condição else valor2

classificar_idade = lambda idade: "Criança" if idade < 12 else("adolescente" if idade <= 18 else ("adulto" if idade <= 60 else "idoso"))

print(classificar_idade(10))
print(classificar_idade(17))
print(classificar_idade(49))
print(classificar_idade(99))

Criança
adolescente
adulto
idoso

In [13]:
# Ex.8 - Crie uma estrutura para classificar o status do cliente
# em função das compras realizadas em cartão de crédito.

# compras >= 8000 - platinum
# compras >= 5000 - gold
# compras >= 2000 - silver

status = lambda compra: "Platinium" if compra >= 8000 else ("Gold" if compra >= 5000 else "Silver")

print(status(90000))
print(status(5100))
print(status(2100))

Platinium
Gold
Silver

# Lambda e listas

In [13]:
# Função lambda e listas - Ex.9

numeros = [2, 3, 4, 5, 6, 7]

quadrado = list(map(lambda z: z**2, numeros))
print(quadrado)

[4, 9, 16, 25, 36, 49]

In [14]:
# Função lambda e listas - Ex.10

palavras = ['lambda', 'é', 'muito', 'util']
maiusculas = list(map(lambda k: k.upper(), palavras))

print(maiusculas)

['LAMBDA', 'É', 'MUITO', 'UTIL']

In [16]:
# Função lambda e listas - Ex.11

palavras = ['casa', 'carro', 'bicicleta']

comprimento = list(map(lambda c: len(c), palavras))
print(comprimento)

[4, 5, 9]

In [18]:
# Função lambda e listas - Ex.12

palavras = ['casa', 'carro', 'bicicleta', 'caminhao']
filtro = list(filter(lambda x: x.startswith('c'), palavras))
print(filtro)

['casa', 'carro', 'caminhao']

In [20]:
# Função lambda e listas - Ex.13

nomes  = ['ana', 'carlos', 'mark', 'marry anne']

filtro = list(map(lambda x: f'Olá {x}', nomes))
print(filtro)

['Olá ana', 'Olá carlos', 'Olá mark', 'Olá marry anne']

In [21]:
# Função lambda e listas - Ex.14

nomes  = ['ana', 'carlos', 'mark', 'marry anne']

repetidas = list(map(lambda x: x*2, nomes))
print(repetidas)

['anaana', 'carloscarlos', 'markmark', 'marry annemarry anne']

In [23]:
# Função lambda e listas de tuplas - Ex.15

lista_tupla = [('morango', 8), ('maça', 2), ('banana', 6), ('pera', 3)]
ordena_tupla = sorted(lista_tupla, key = lambda x: x[1])
print(ordena_tupla)

[('maça', 2), ('pera', 3), ('banana', 6), ('morango', 8)]

In [27]:
# Função lambda e listas de tuplas - Ex.16

lista_tupla = [('morango', 8, 100), ('maça', 2, 500), ('banana', 6, 521), ('pera', 3, 147)]
ordena_tupla = sorted(lista_tupla, key = lambda x: x[2])
print(ordena_tupla)

[('morango', 8, 100), ('pera', 3, 147), ('maça', 2, 500), ('banana', 6, 521)]

#Exercícios


Usando estrutura com a função lambda, resolva os seguintes exercícios.

1. Crie uma estrutura para selecionar apenas pessoas que possuem idade maior do que 30 anos.

ana - 23
bruno - 35
carla - 19
mark - 50
marcelo - 38

2. Crie uma estrutura para selecionar apenas as pessoas que iniciam o nome com M.

3. Crie uma estrutura para filtar pessoas apenas com idade par.

4. Crie uma estrutura para passar todos nomes para letras maiusculas.

In [30]:
# 1. Crie uma estrutura para selecionar apenas pessoas que possuem idade maior do que 30 anos (Ex. 17)

lista_idade = [('ana', 30), ('bruno', 35), ('carla', 70), ('mark', 38), ('mark', 42)]

seleciona_idade = list(filter(lambda idade: idade[1] > 30, lista_idade))
print(seleciona_idade)

[('bruno', 35), ('carla', 70), ('mark', 38), ('mark', 42)]

In [31]:
# 2. Crie uma estrutura para selecionar apenas as pessoas que iniciam o nome com M. (Ex. 18)

lista_idade = [('ana', 30), ('bruno', 35), ('carla', 70), ('mark', 38), ('mark', 42)]

seleciona_nomes = list(filter(lambda nome: nome[0].startswith('m'), lista_idade))
print(seleciona_nomes)

[('mark', 38), ('mark', 42)]

In [32]:
# 3. Crie uma estrutura para filtar pessoas apenas com idade par. (Ex. 19)

lista_idade = [('ana', 30), ('bruno', 35), ('carla', 70), ('mark', 38), ('mark', 42)]

seleciona_idade = list(filter(lambda nome: nome[1] % 2 == 0, lista_idade))
print(seleciona_idade)

[('ana', 30), ('carla', 70), ('mark', 38), ('mark', 42)]

In [34]:
# 4. Crie uma estrutura para passar todos nomes para letras maiusculas. (Ex. 20)

lista_idade = [('ana', 30), ('bruno', 35), ('carla', 70), ('mark', 38), ('mark', 42)]

lista_maiusculas = list(map(lambda nome: nome[0].upper(), lista_idade))
print(lista_maiusculas)

['ANA', 'BRUNO', 'CARLA', 'MARK', 'MARK']