In [1]:
# Ex.1

tupla = [('python básico', 500, 20),
         ('deep learning', 400, 50),
         ('visualização de dados', 600, 30),
         ('análise estatística', 350, 60)]

In [3]:
# Ex.2

taxas_aprovacao = []

for video in tupla:
  titulo, likes, dislikes = video
  taxa_aprovacao = likes / (likes + dislikes)
  taxas_aprovacao.append((titulo, likes, dislikes, taxa_aprovacao))

print( taxas_aprovacao)

[('python básico', 500, 20, 0.9615384615384616), ('deep learning', 400, 50, 0.8888888888888888), ('visualização de dados', 600, 30, 0.9523809523809523), ('análise estatística', 350, 60, 0.8536585365853658)]

In [8]:
# Ex. 3

taxas_aprovacao = []

for video in tupla:
  titulo, likes, dislikes = video
  taxa_aprovacao = likes / (likes + dislikes)
  taxas_aprovacao.append((titulo, likes, dislikes, taxa_aprovacao))

# Retornar a taxa mínima e a máxima

maior_taxa = max(taxas_aprovacao)
menor_taxa = min(taxas_aprovacao)

i_maior_taxa = taxas_aprovacao.index(maior_taxa)
i_menor_taxa = taxas_aprovacao.index(menor_taxa)

video_maior_taxa = taxas_aprovacao[i_maior_taxa]
video_menor_taxa = taxas_aprovacao[i_menor_taxa]

('visualização de dados', 600, 30, 0.9523809523809523)

In [9]:
# Ex. 4

video1 = [('python básico', 500, 20),
         ('deep learning', 400, 50),
         ('visualização de dados', 600, 30),
         ('análise estatística', 350, 60)]

video2 = [('análise de componentes principais', 100, 20),
         ('ChatGPT', 800, 20),
         ('Rede Neural MLP', 550, 15)]

video_concatenado = video1 + video2
print(video_concatenado)

[('python básico', 500, 20), ('deep learning', 400, 50), ('visualização de dados', 600, 30), ('análise estatística', 350, 60), ('análise de componentes principais', 100, 20), ('ChatGPT', 800, 20), ('Rede Neural MLP', 550, 15)]

In [12]:
# Ex. 5

video_concatenado_lista = list(video_concatenado)

video_concatenado_lista[2] = ('análise de componentes principais', 150, 25)
video_concatenado_lista[4] = ('visualização de dados', 500, 50)
video_atualizado = tuple(video_concatenado_lista)

print(video_atualizado)

(('python básico', 500, 20), ('deep learning', 400, 50), ('análise de componentes principais', 150, 25), ('análise estatística', 350, 60), ('visualização de dados', 500, 50), ('ChatGPT', 800, 20), ('Rede Neural MLP', 550, 15))

In [ ]:
# Ex. 6

video_concatenado

taxas_aprovacao = []

for video in video_concatenado:
  likes = video[1]
  dislikes = video[2]

  total_likes += likes
  total_dislikes += dislikes

print(total_likes)
print(total_dislikes)

# Aula 05

In [13]:
def soma(a, b):
  operacao_soma = a + b
  return operacao_soma

print(soma(10, 40))

# Exercícios

#1. Crie uma função que retorne as quatro operações matemáticas básicas e retorne
# os resultados das quatro operações

50

In [14]:
def operacoes_mat(a, b):

  soma = a + b
  subtracao = a - b
  multiplicacao = a *b
  divisao = a / b

  return soma, subtracao, multiplicacao, divisao

print(operacoes_mat(10, 5))

(15, 5, 50, 2.0)

In [15]:
soma, sub, mult, div = operacoes_mat(10, 5)

print("Soma", soma)
print("Subtração", sub)
print("Multiplicação", mult)
print("Divisão", div)

Soma 15
Subtração 5
Multiplicação 50
Divisão 2.0

In [16]:
# Ex.1

def calcular_media(lista):
  "Cálcula a média de uma lista de números."
  media = sum(lista) / len(lista)
  return media

lista = [10, 20, 30, 40, 50]

print(calcular_media(lista))

30.0

In [19]:
# Exercícios

# Mostre como retornar a média entre três listas com comprimento diferente.
# Crie uma estrutura para calcular a média da lista 1, 2 e 3. Em seguida, calcule
# a média entre as três listas.

def calcular_media(lista1, lista2, lista3):
  "Cálcula a média entre listas de números."
  media_lista1 = sum(lista1) / len(lista1)
  media_lista2 = sum(lista2) / len(lista2)
  media_lista3 = sum(lista3) / len(lista3)

  media_final = (media_lista1 + media_lista2 + media_lista3) / 3

  return media_lista1, media_lista2, media_lista3, media_final

lista1 = [10, 20, 30, 40, 50]
lista2 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
lista3 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 150, 200]

print(calcular_media(lista1, lista2, lista3))

media1, media2, media3, media_final = calcular_media(lista1, lista2, lista3)

print("A média da lista 1: ", media1)
print("A média da lista 2: ", media2)
print("A média da lista 3: ", media3)
print("A média final: ", media_final)

(30.0, 55.0, 75.0, 53.333333333333336)
A média da lista 1:  30.0
A média da lista 2:  55.0
A média da lista 3:  75.0
A média final:  53.333333333333336

In [38]:
lista_cp_aluno_turma1 = [10, 6, 7.5]
lista_cp_aluno_turma2 = [7, 5.5, 8]
lista_cp_aluno_turma3 = [6.8, 7.3, 9.5]

def media_alunos(lista1, lista2, lista3):
  media_aluno1 = (((sum(lista1) / len(lista1)) * 0.4) + (8.5 * 0.6))
  media_aluno2 = (((sum(lista2) / len(lista2)) * 0.4) + (9.2 * 0.6))
  media_aluno3 = (((sum(lista3) / len(lista3)) * 0.4) + (7.8 * 0.6))

  return media_aluno1, media_aluno2, media_aluno3

media_A1, media_A2, media_A3 = media_alunos(lista_cp_aluno_turma1, lista_cp_aluno_turma2, lista_cp_aluno_turma3)

print("Média aluno 1 - ", media_A1)
print("Média aluno 1 - ", media_A2)
print("Média aluno 1 - ", media_A3)

Média aluno 1 -  8.233333333333333
Média aluno 1 -  8.253333333333334
Média aluno 1 -  7.826666666666666

In [41]:
print("Média aluno 1", media_alunos(lista_cp_aluno_turma1, lista_cp_aluno_turma2, lista_cp_aluno_turma3)[0])

print("Média aluno 2", media_alunos(lista_cp_aluno_turma1, lista_cp_aluno_turma2, lista_cp_aluno_turma3)[1])

print("Média aluno 3", media_alunos(lista_cp_aluno_turma1, lista_cp_aluno_turma2, lista_cp_aluno_turma3)[2])

Média aluno 1 8.233333333333333
Média aluno 2 8.253333333333334
Média aluno 3 7.826666666666666

In [42]:
lista_numeros = [-1, -2, -3, -4, -5, 10, 20, 30, 40, 50]

def separa_positivo_negativo(lista):
  positivo = [numero for numero in lista if numero > 0]
  negativo = [numero for numero in lista if numero < 0]

  return positivo, negativo

valores_positivos, valores_negativos = separa_positivo_negativo(lista_numeros)
print(valores_positivos)
print(valores_negativos)

[10, 20, 30, 40, 50]
[-1, -2, -3, -4, -5]

In [43]:
# Exercícios

# 1. Crie uma estrutura para mostrar apenas valores de vendas acima de R$ 1000,00. Crie uma lista que retorne os valores acima do esperado
# e uma lista para valores abaixo do esperado.

lista = [1500, 1250, 1110, 999, 933, 2000, 560, 425]

def verificacao_vendas(lista):

  acima_esperado = [venda for venda in lista if venda >= 1000]
  abaixo_esperado = [venda for venda in lista if venda < 1000]

  return acima_esperado, abaixo_esperado

print("Acima do esperado", verificacao_vendas(lista)[0])
print("Abaixo do esperado", verificacao_vendas(lista)[1])

Acima do esperado [1500, 1250, 1110, 2000]
Abaixo do esperado [999, 933, 560, 425]

In [48]:
lista_carros = [
    {'modelo': 'Tesla', 'status': 'vendido'},
    {'modelo': 'Nissan_Leaf', 'status': 'nao_vendido'},
    {'modelo': 'Chevrolet_Bolt', 'status': 'nao_vendido'},
    {'modelo': 'BMW I3', 'status': 'vendido'},
    {'modelo': 'Hyundai kona', 'status': 'vendido'},
    {'modelo': 'BYW', 'status': 'vendido'},
    {'modelo': 'Song', 'status': 'nao_vendido'}
]

def carros_vendidos_nao_vendidos(lista):
  "Apresenta carros vendidos e não vendidos"

  carros_vendidos = [carro for carro in lista if carro['status'] == 'vendido']
  carros_nao_vendidos = [carro for carro in lista if carro['status'] == 'nao_vendido']

  return carros_vendidos, carros_nao_vendidos

print("Carros vendidos", carros_vendidos_nao_vendidos(lista_carros)[0])

Carros vendidos [{'modelo': 'Tesla', 'status': 'vendido'}, {'modelo': 'BMW I3', 'status': 'vendido'}, {'modelo': 'Hyundai kona', 'status': 'vendido'}, {'modelo': 'BYW', 'status': 'vendido'}]

In [49]:
print("Carros não vendidos", carros_vendidos_nao_vendidos(lista_carros)[1])

Carros não vendidos [{'modelo': 'Nissan_Leaf', 'status': 'nao_vendido'}, {'modelo': 'Chevrolet_Bolt', 'status': 'nao_vendido'}, {'modelo': 'Song', 'status': 'nao_vendido'}]

In [51]:
carros_vendidos = carros_vendidos_nao_vendidos(lista_carros)[0]

for i in carros_vendidos:
  print(i)

{'modelo': 'Tesla', 'status': 'vendido'}
{'modelo': 'BMW I3', 'status': 'vendido'}
{'modelo': 'Hyundai kona', 'status': 'vendido'}
{'modelo': 'BYW', 'status': 'vendido'}